<footer class="w-full overflow-hidden flex flex-col text-white">
  <h5
    class="text-[4.6rem] md:text-[15rem] tracking-tighter font-extrabold leading-[3.7rem] md:leading-[180px]"
  >
    LET'S WORK
  </h5>
  <h5
    class="text-[4.6rem] md:text-[15rem] tracking-tighter font-extrabold text-right leading-[3.7rem] md:leading-[180px]"
  >
    TOGETHER
  </h5>
  <div class="mt-8 container mx-auto">
    <div class="flex gap-4 text-lg font-bold justify-center">
      <a href="mailto:otavioalenski@gmail.com">otavioalenski@gmail.com</a>
      <a
        href="https://www.linkedin.com/in/otavio-sonda-33105375/?locale=en_US"
        target="_blank">LinkedIn</a
      >
    </div>
  </div>
</footer>
